In [1]:
import numpy as np
import pandas as pd
import qgrid

# Light Rail -Transport Canberra & City Services 

The GTFS (general transit feed specification) feed provides static timetabling information about a transit
network, including stops, routes, trip schedules and other information like a trip’s geometry and information
about the transit agency running the trips.

## Agency
One or more transit agencies that provide the data in this feed.

In [5]:
agency = pd.read_csv('agency.txt')
agency

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,CMO,Canberra Metro Operations,https://www.transport.act.gov.au/,Australia/Sydney,EN,131710

## Stops
Individual locations where vehicles pick up or drop off passengers.

In [24]:
stops = pd.read_csv('stops.txt')

In [26]:
len(stops)

39

In [27]:
qgrid_stops = qgrid.show_grid(stops, show_toolbar=True)
qgrid_stops

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## Routes
Transit routes. A route is a group of trips that are displayed to
riders as a single service.

In [6]:
routes = pd.read_csv('routes.txt')
routes

,route_id,route_short_name,route_long_name,route_desc,route_type,route_color,route_text_color,route_url
0,ACTO001,1,Alinga Street - Gungahlin Place,Light Rail full service,0,BD0021,FFFFFF,https://www.transport.act.gov.au/getting-aroun...
1,NIS,Not in Service,Not in Service,Light Rail not in service,0,BD0021,FFFFFF,https://www.transport.act.gov.au/getting-aroun...
2,X1,Short Service,Well Station - Gungahlin Place,Partial Light Rail service,0,BD0021,FFFFFF,https://www.transport.act.gov.au/getting-aroun...
3,X2,Short Service,EPIC - Alinga Street,Partial Light Rail service,0,BD0021,FFFFFF,https://www.transport.act.gov.au/getting-aroun...

## Trips
Trips for each route. A trip is a sequence of two or more stops that
occurs at specific time

The **service_id** contains an ID that uniquely identifies a set of dates when service is available for one or more routes. This value is referenced from the `calendar.txt` or `calendar_dates.txt` file.

In [28]:
trips = pd.read_csv('trips.txt')

In [29]:
qgrid_trips = qgrid.show_grid(trips, show_toolbar=True)
qgrid_trips

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## Stop Times
Times that a vehicle arrives at and departs from individual stops
for each trip.

In [30]:
stop_times = pd.read_csv('stop_times.txt')

In [31]:
qgrid_stop_times = qgrid.show_grid(stop_times, show_toolbar=True)
qgrid_stop_times

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## Calendar
Dates for service IDs using a weekly schedule. Specify when
service starts and ends, as well as days of the week where service
is available

In [11]:
calendar = pd.read_csv('calendar.txt')
calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,SU,0,0,0,0,0,0,1,20190429,20190727
1,WD,1,1,1,1,0,0,0,20190429,20190727
2,FR,0,0,0,0,1,0,0,20190429,20190727
3,SA,0,0,0,0,0,1,0,20190429,20190727

**START DATE:** 29/04/2019

**END DATE:** 27/07/2019

## Calendar Dates
The Calendar dates file provides the ability to define service exceptions for one or more of the provided routes. This mechanism is commonly used to override standard timetables defined in the Calendar.txt file e.g. when a particular service will not be running on a specific day for a limited period of time.

Exceptions for the service IDs defined in the calendar.txt file. If
calendar_dates.txt includes ALL dates of service, this file may be
specified instead of `calendar.txt`.

In [12]:
calendar_dates = pd.read_csv('calendar_dates.txt')
calendar_dates

Empty DataFrame
Columns: [service_id, date, exception_type]
Index: []

## Shapes
The Shapes file contains data to enable visual representation of a trip's path based on the route paths points.

In [14]:
shapes = pd.read_csv('shapes.txt')
shapes.head()

   shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0      1001    -35.209050    149.147350                  1
1      1002    -35.209047    149.147311                  1
2      1002    -35.208892    149.147337                  2
3      1002    -35.208725    149.147365                  3
4      1002    -35.208536    149.147397                  4

In [15]:
shapes.tail()

      shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
1339      1012    -35.229091    149.144344                115
1340      1012    -35.228901    149.144297                116
1341      1012    -35.228713    149.144253                117
1342      1012    -35.228501    149.144199                118
1343      1013    -35.228500    149.144220                  1