# Retreive Schedule

In [10]:
import pandas as pd
from elasticsearch import Elasticsearch

In [2]:
stop_times = pd.read_csv('stop_times.txt')
trips = pd.read_csv('trips.txt')

In [3]:
stop_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9724 entries, 0 to 9723
Data columns (total 9 columns):
trip_id           9724 non-null int64
arrival_time      9724 non-null object
departure_time    9724 non-null object
stop_id           9724 non-null int64
stop_sequence     9724 non-null int64
stop_headsign     9724 non-null object
pickup_type       9724 non-null int64
drop_off_type     9724 non-null int64
timepoint         9724 non-null int64
dtypes: int64(6), object(3)
memory usage: 683.8+ KB

In [4]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 9 columns):
route_id                 847 non-null object
service_id               847 non-null object
trip_id                  847 non-null int64
trip_headsign            847 non-null object
direction_id             847 non-null int64
block_id                 847 non-null object
shape_id                 847 non-null int64
wheelchair_accessible    847 non-null int64
bikes_allowed            847 non-null int64
dtypes: int64(5), object(4)
memory usage: 59.6+ KB

In [5]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint
0,712,07:36:16,07:36:36,8111,1,Well Station Drive,0,0,1
1,712,07:38:20,07:38:40,8109,2,Nullarbor Avenue,0,0,1
2,712,07:39:51,07:40:11,8107,3,Mapleton Avenue,0,0,1
3,712,07:41:45,07:42:05,8105,4,Manning Clark Crescent,0,0,1
4,712,07:43:43,07:43:43,8100,5,Gungahlin Place,0,0,1

In [6]:
trips.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,NIS,SU,712,Gungahlin Pl,0,3,1007,1,1
1,ACTO001,SU,780,Alinga St,1,3,1003,1,1
2,ACTO001,SU,718,Gungahlin Pl,0,3,1004,1,1
3,ACTO001,SU,784,Alinga St,1,3,1003,1,1
4,ACTO001,SU,722,Gungahlin Pl,0,3,1004,1,1

# Place in Elasticsearch

In [11]:
es=Elasticsearch([{'host':'localhost','port':9200, 'http_auth':('elastic', 'changeme')}])

In [12]:
for idx, record in enumerate(stop_times.to_dict(orient='records'), 1):
    es.index(index='stoptimes',doc_type='lightrail',body=record, id=idx)

In [13]:
for idx, record in enumerate(trips.to_dict(orient='records'), 1):
    es.index(index='trips',doc_type='lightrail',body=record, id=idx)