In [1]:
import numpy as np
import pandas as pd
import qgrid

# Bus -Transport Canberra & City Services

The GTFS (general transit feed specification) feed provides static timetabling information about a transit
network, including stops, routes, trip schedules and other information like a trip’s geometry and information
about the transit agency running the trips.

## Agency
One or more transit agencies that provide the data in this feed.

In [2]:
agency = pd.read_csv('agency.txt')
agency

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,TC,Transport Canberra,https://www.transport.act.gov.au,Australia/Sydney,en,131710

## Stops
Individual locations where vehicles pick up or drop off passengers.

In [3]:
stops = pd.read_csv('stops.txt')

In [4]:
len(stops)

2359

In [5]:
qgrid_stops = qgrid.show_grid(stops, show_toolbar=True)
qgrid_stops

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## Routes
Transit routes. A route is a group of trips that are displayed to
riders as a single service.

In [15]:
routes = pd.read_csv('routes.txt')

In [16]:
qgrid_routes = qgrid.show_grid(routes, show_toolbar=True)
qgrid_routes

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## Trips
Trips for each route. A trip is a sequence of two or more stops that
occurs at specific time

The **service_id** contains an ID that uniquely identifies a set of dates when service is available for one or more routes. This value is referenced from the `calendar.txt` or `calendar_dates.txt` file.

In [7]:
trips = pd.read_csv('trips.txt')

In [8]:
qgrid_trips = qgrid.show_grid(trips, show_toolbar=True)
qgrid_trips

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## Stop Times
Times that a vehicle arrives at and departs from individual stops
for each trip.

In [9]:
stop_times = pd.read_csv('stop_times.txt')

In [10]:
qgrid_stop_times = qgrid.show_grid(stop_times, show_toolbar=True)
qgrid_stop_times

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## Calendar
Dates for service IDs using a weekly schedule. Specify when
service starts and ends, as well as days of the week where service
is available

In [11]:
calendar = pd.read_csv('calendar.txt')
calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,2019-COMBNXT-Weekday-01,1,1,1,1,1,0,0,20190509,20190705
1,2019-COMBNXT-Saturday-01,0,0,0,0,0,1,0,20190511,20190629
2,2019-COMBNXT-Sunday-01,0,0,0,0,0,0,1,20190512,20190630

**START DATE:** 09/05/2019

**END DATE:** 05/07/2019

## Calendar Dates
The Calendar dates file provides the ability to define service exceptions for one or more of the provided routes. This mechanism is commonly used to override standard timetables defined in the Calendar.txt file e.g. when a particular service will not be running on a specific day for a limited period of time.

Exceptions for the service IDs defined in the calendar.txt file. If
calendar_dates.txt includes ALL dates of service, this file may be
specified instead of `calendar.txt`.

In [12]:
calendar_dates = pd.read_csv('calendar_dates.txt')
calendar_dates

                service_id      date  exception_type
0  2019-COMBNXT-Weekday-01  20190527               2
1  2019-COMBNXT-Weekday-01  20190610               2
2   2019-COMBNXT-Sunday-01  20190527               1
3   2019-COMBNXT-Sunday-01  20190610               1

## Shapes
The Shapes file contains data to enable visual representation of a trip's path based on the route paths points.

In [13]:
shapes = pd.read_csv('shapes.txt')
shapes.head()

   shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0     20183    -35.190616    149.036028              10001
1     20183    -35.190650    149.036269              10002
2     20183    -35.190676    149.036336              10003
3     20183    -35.190744    149.036382              10004
4     20183    -35.190910    149.036355              10005

In [14]:
shapes.tail()

       shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
73765   1820148    -35.278434    149.129428             210004
73766   1820148    -35.278396    149.129074             210005
73767   1820148    -35.278328    149.128449             210006
73768   1820148    -35.278265    149.127868             210007
73769   1820148    -35.278176    149.127048             210008